@page "/equitymarket";
@inherits ComponentBaseClass

@using Blazorise.Components;
@using Blazorise;
@using ShareMarket.Core.Entities.Equities
@using ShareMarket.Core.Entities.Tradings
@using ShareMarket.Core.Services

@attribute [Authorize]
@inject NavigationManager NavManager
@inject IRepositoryConductor<EquityStock> EquityStocksRepo;
@inject IRepositoryConductor<VirtualTrade> TradeRepo;
@inject IRepositoryConductor<EquityPriceHistory> HistoryRepo;
@inject IGrowwService GrowwService;

<Loader IsLoading="IsLoading" />
<PageTitle>Trading</PageTitle>
<h3>
    Trade Prediction Book
    @if (TodaysTrades.Count > 0)
    {
        <span style="font-size:14px; color:#ff1f2e">
            (Buy Date at closing of @Date)
            or opening of @Date.AddDays(1)))
        </span>
    }
    <span style="font-size:14px; color:green">(Target 5%)</span>
    <span style="font-size:14px; color:red">(SL 7%)</span>
</h3>
<div class="row"> 
    <div class="col-1">
        <Button Class="@(Stratergy == BuyStratergy.RSIBelow35 ? "btn btn-primary active":"btn btn-success ")" Clicked="()=>GetDataAsync(BuyStratergy.RSIBelow35)">RSI Below 35</Button>
    </div> 
    <div class="col-2">
        <Button Class="@(Stratergy == BuyStratergy.RSI14EMADiffLess1 ? "btn btn-primary active":"btn btn-success ")" Clicked="()=>GetDataAsync(BuyStratergy.RSI14EMADiffLess1)">RSI 14EMA Diff -1</Button>
    </div>
    <div class="col-2 offset-7 text-end">
        <Button Class="btn btn-warning" Clicked="LTPUpdate">Refresh LTP</Button>
    </div>
</div>
@if (TodaysTrades.Count > 0)
{
    string red = "#ff0000";
    string green = "#008000";

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>SR</th>
                    <th>Code</th>
                    <th>Buy Rate</th>
                    <th>LTP</th>
                    <th>Target</th>
                    <th>SL</th>
                    <th>RSI</th>
                    <th>5DMA</th>
                    <th>10DMA</th>
                    <th>20DMA</th>
                    <th>50DMA</th>
                    <th>100DMA</th>
                    <th>RSI Diff</th>
                    <th>Groww Rank</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < TodaysTrades.Count; i++)
                {
                    var row = TodaysTrades[i];
                    <tr>
                        <td>@(i + 1)</td>
                        <td title="@row.Name">@row.Code</td>
                        <td>@row.LTP</td>
                        <td>
                            <span class="bg-tags" style="color:@(row.PChange > 0 ? green : red);
                        background-color:@(row.PChange > 0 ? green.HexToRGBA() : red.HexToRGBA())">
                                @row.PChange.ToString("#.##")
                            </span>

                        </td>
                        <td>@(row.LTP + (row.LTP * 5 / 100))</td>
                        <td>@(row.LTP - (row.LTP * 7 / 100))</td>
                        <td>@row.RSI</td>
                        <td>
                            <span class="bg-tags" style="color:@(row.DMA5 > row.LTP ? green : red);
                        background-color:@(row.DMA5 > row.LTP ? green.HexToRGBA() : red.HexToRGBA())">
                                @row.DMA5
                            </span>
                        </td>
                        <td>
                            <span class="bg-tags" style="color:@(row.DMA10 > row.LTP ? green : red);
                        background-color:@(row.DMA10 > row.LTP ? green.HexToRGBA() : red.HexToRGBA())">
                                @row.DMA10
                            </span>
                        </td>
                        <td>
                            <span class="bg-tags" style="color:@(row.DMA20 > row.LTP ? green : red);
                        background-color:@(row.DMA20 > row.LTP ? green.HexToRGBA() : red.HexToRGBA())">
                                @row.DMA20
                            </span>
                        </td>
                        <td>
                            <span class="bg-tags" style="color:@(row.DMA50 > row.LTP ? green : red);
                        background-color:@(row.DMA50 > row.LTP ? green.HexToRGBA() : red.HexToRGBA())">
                                @row.DMA50
                            </span>
                        </td>
                        <td>
                            <span class="bg-tags" style="color:@(row.DMA100 > row.LTP ? green : red);
                        background-color:@(row.DMA100 > row.LTP ? green.HexToRGBA() : red.HexToRGBA())">
                                @row.DMA100
                            </span>
                        </td>
                        <td>@row.RSI14EMADiff</td>
                        <td>@row.RankByGroww</td>
                        <td>
                            @if (row.BuyAlready)
                            {
                                <Button Clicked="()=>BuyTrade(row)" Class="btn btn-warning">Bought</Button>
                            }
                            else
                            {
                                <Button Clicked="()=>BuyTrade(row)" Class="btn btn-success">Buy</Button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}